@import "utils/placeholders";
@import "utils/mixins";
@import "utils/variables";
@import "components/header";
@import "components/carousel";
@import 'components/section-numbers';
@import "components/photo-gallery-section";
@import "components/footer";


* {
  box-sizing: border-box;
 
}

.container {
  width: 315px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    width: 1270px;
  }
}
