@import "utils/variables";
@import "utils/mixin";
@import "utils/placeholders";

@import "components/header";
@import "components/footer";

* {
  box-sizing: border-box;
}

.container {
  width: 315px;
  margin: 0 auto;
}