@import "utils/variables";
@import "utils/mixin";
@import "utils/placeholders";

@import "components/header";
@import "components/walkways-section";
@import "components/photo-gallery-section";
@import "components/footer";

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 315px;
  margin: 0 auto;
}

.hidden-titles {
  display: none;
}

@media (min-width: 1440px) {
  .container {
    width: 1270px;
  }
}