.container-numbers {
    width: 1922px;
    height: 794px;
    background: #020C21;
     opacity: 90%;
    margin-top: 900px;
}
@media (max-width: 480px) {
    .container-numbers {
   position: relative;
    width: 376px;
    height: 929px;
    margin-top: 635px;
    
  }
  }
  .title-numbers {
    font-family: DM Sans;
font-size: 60px;
font-weight: 700;
line-height: 90px;
letter-spacing: 0em;
text-align: center;
top: 120px;
position: relative;
color: white;

  }
  @media (max-width: 480px) {
    .title-numbers {
   color: white;
   top: 30px;
  }
  }
  .text-numbers  {
    position: relative;
  width: 484px;
  height:102px;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.5px;
text-align: center;
color: #E0E0E0;
top: 70px;
margin: auto;
  }
  @media (max-width: 480px) {
    .text-numbers  {
        position: relative;
      width: 314px;
      height:167px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #E0E0E0;
   top: 0;
    margin: auto;
      }
  }
  .text-hundred {
    font-family: DM Sans;
font-size: 42px;
font-weight: 700;
line-height: 49px;
letter-spacing: 0.40px;
text-align: center;
color: #DD2242;
margin-top: 120px;

  }
  @media (max-width: 480px) {
    .text-hundred  {
     margin-top: 0px;
      }
  }
  .text-calculations {
 width: 341px;
height: 70px;
color: #E0E0E0;
font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.5px;
text-align: center;
margin: 0 auto;

 }
 @media (max-width: 480px) {
  .text-calculations  {
  margin-top: -30px;
    }
}
 
  
 .container_calculations {
  display: flex;
  justify-content: space-evenly;
 }
 @media (max-width: 480px) {
  .container_calculations  {
   display: flex;
   flex-direction: column;
   gap:30px;
    }
}